<div
  class="hero min-h-screen"
  style="background-image: url(assets/banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; ">
  <div class="hero-overlay bg-opacity-70 backdrop-blur-[3px]" style="background-color: oklch(0 0 0 / 0.7);"></div>
  <div class="hero-content w-full px-4 py-10 text-neutral-content text-center sm:px-6">
    <div class="max-w-2xl">
      <h1 class="mb-5 text-4xl font-bold text-amber-400 md:text-6xl">
        <span class="inline-flex items-start gap-2">
          <i class="fa-sharp fa-solid fa-plane text-sm md:text-2xl plane-fly inline-block"></i>
          <span>CountryPedia</span>
          <span class="inline-flex items-end -ml-1">
            <i class="fa-solid fa-van-shuttle text-sm md:text-xl van-drive relative top-5 md:top-8"></i>
          </span>
        </span>
      </h1>
      <p class="mb-6 text-base leading-7 text-slate-200 md:text-lg">
        Encuentra información detallada de cada país de manera rápida y organizada.
        Busca por nombre, capital o región y descubre datos importantes como su
        bandera, población, idiomas, monedas y otros detalles útiles en segundos.
      </p>
      <button
        routerLink="/country"
        class="btn border-amber-400 bg-transparent text-amber-400 hover:bg-amber-500 hover:border-amber-500 hover:text-white px-6 tracking-wide gap-2 text-sm md:text-base">
        <span>Explora el Mundo</span>
        <i class="fa-solid fa-earth-americas"></i>
      </button>
    </div>
  </div>
</div>
