<div class="py-5 px-4 max-w-7xl mx-auto">
  <div class="mb-8 text-center">
    <p class="mt-1 text-slate-400">Encuentra países buscando por el nombre de su capital</p>
  </div>

  <country-search-input
    (value)="onSearch($event)"
    placeholder="Buscar por capital..."
    [initialValue]="query()" />

  @if (!query()) {
    <div class="mt-10 flex flex-col items-center justify-center gap-4 text-center">
      <i class="fa-solid fa-landmark text-6xl md:text-7xl text-amber-500/20"></i>
      <p class="mt-2 text-slate-400">
        Escribe el nombre de una capital y obtén al instante información del país, población y más datos.
      </p>
    </div>
  } @else {
    <country-table-list
      [countries]="countryResource.value() ?? []"
      [errorMessage]="countryResource.error()"
      [isEmpty]="(countryResource.value()?.length === 0) && !countryResource.isLoading()"
      [isLoading]="countryResource.isLoading()" />
  }
</div>
